*{
    margin: 0;
    padding: 0;
}

.FilterBlock {
    width: 240px;
    margin: 10px;
}
.FilterBlock .ControlPanel input[type='text'] {
    margin: 0 5px;
}
.FilterBlock .ControlPanel {
    margin-bottom: 10px;
}
.FilterBlock .ListWords select{
    width: 240px;
}