$errorColor : red;

.FormProduct{
    width: 1500px;
    padding: 25px 0;
    .TitleForm{
        font-size: 22px;
        font-weight: bold;
    }
    .divRow{
        display: flex;
        padding-bottom: 1px;
        width: 100%;
        span.nameField{
            width: 100px;
        }
        span.errorMessage{
            color:$errorColor;
            word-wrap: normal
        }
    }
}